@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
body {
  font-weight: 400;
  font-size: 25px;
}

h3, h5 {
  font-family: 'Old Standard';
  font-size: 30px;
  font-weight: 500;
  color: #132A13;
}

h5 {
  font-family:'Old Standard', cursive;
  font-size: 24px;
  font-weight: 450;
}